PROJECT_ID="<PROJECT_ID>"
REGION="<REGION>"
TF_VAR_SA="terraform-sa@${PROJECT_ID}.iam.gserviceaccount.com"
TF_VAR_project_id="${PROJECT_ID}"
TF_VAR_region="${REGION}"
TF_VAR_zone="${REGION}-a"
TF_VAR_artifact_registry_location="${REGION}"
